@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

html, body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    animation: fadeIn 0.5s ease-in;
}